{% extends "layout.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}
    <table class="table table-bordered">
        <thead class="thead-light">
            <th scope="col">
                Symbol
            </th>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Shares
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                Total
            </th>
        </thead>
        {% for row in rows  %}
            <tr>
                <td>
                    {{ row["symbol"] }}
                </td>
                <td>
                    {{ row["symbol"] }}
                </td>
                <td>
                    {{ row["amount"] }}
                </td>
                <td>
                    {{ row["price"]|usd }}
                </td>
                <td>
                    {{ row["total"]|usd }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                CASH
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {{ cash|usd }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {{ total|usd }}
            </td>
        </tr>
    </table>
{% endblock %}